
body {
font-family: Arial, Helvetica, Verdana, Sans-serif;
font-size: 12px;
color: #666666;
background: #ffffff;
}
#page-container{
	width:760px;
	margin:auto;
	
}
html, body {
margin: 0;
padding: 0;
}
.hidden {
display: none;
}


p{text-indent:2em;}

h1 {
margin: 0;
padding: 0;
}
#main-nav {
	
background: red;
height: 80px;
}
#header {
height: 100px;
background: #db6d16
url(logo.jpg);
}
#sidebar{
	float: right;
width: 300px;

}
#content {
margin-right: 280px;

}
#content h2 {
margin: 0;
padding: 0;
padding-bottom: 15px;
}
#content p {
margin: 0;
padding: 0;
padding-bottom: 15px;
}
#footer {
clear: both;
height: 66px;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
font-size: 10px;
color: #c9c9c9;
border-top: 1px solid #efefef;
padding: 13px 25px;
line-height: 18px;



}